.signinform{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid transparent;
    flex-direction: column;
    height: 100vh;

}
.signinform form{
    width: 500px;
    display: grid;
    background-color: white;
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    border-radius: 5px;
}
.signinform form header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    border-bottom: 1px solid whitesmoke;
}
.signinform form .input_group{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
.signinform form .input_group label{
    font-weight: 500;
}
.signinform form .input_group input{
    height: 44px;
}
@media screen and (max-width:600px){
   
    .signinform form{
        width: 75%;
       
    }
}
.error{
    color: red;
}