.sidebarcontainer{
    display: flex;
   flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 250px;
    padding: 20px;
}
.closedsidebarcontainer{
    display: flex;
    flex-direction: column;
    width: 45px;
    padding: 20px;
    background-color: white;
    height: 100vh;
    align-items: center;
}
.sidebarcontainer header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:3px solid lightgray;
    height: 35px;
    font-size: 22px;
    font-weight: 700;
}
.closedsidebarcontainer header{
    display: flex;
    align-items: center;
    border-bottom:3px solid lightgray;
    height: 35px;
    font-size: 22px;
    font-weight: 700;
}
.closedsidebarcontainer header span{
    display: none;
}
.sidebarcontainer .mainnav{
    padding: 10px;
    border-bottom: 2px solid lightgray;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
    font-weight: 650;
}
.closedsidebarcontainer .mainnav{
    padding: 5px;
    border-bottom: 2px solid lightgray;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 650;
}
.closedsidebarcontainer .mainnav h4{
    display: none;
}
.sidebarcontainer .mainnav svg{
    margin-right: 7px;
    height: 20px;
    width: 20px;
}
.closedsidebarcontainer .mainnav svg{
    
    height: 20px;
    width: 20px;
}
.sidebarcontainer header button{
    padding: 5px;    
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.closedsidebarcontainer header button{
    padding: 5px;    
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    height: 17px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarcontainer header button svg{
    width: 100%;
    height: 100%;

}
.closedsidebarcontainer header button svg{
    width: 100%;
    height: 100%;
}
.sidebarcontainer .subnav{
    padding: 25px;
    border-bottom: 1px solid lightgray;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 17px;
    font-weight: 600;
}
.closedsidebarcontainer .subnav{
    padding: 25px;
    border-bottom: 1px solid lightgray;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
}

.sidebarcontainer .subnav svg{
    margin-right: 5px;
    height: 17px;
    width: 17px;
}
.closedsidebarcontainer .subnav h5, .closedsidebarcontainer .subnav h4{
    display: none;
}
.closedsidebarcontainer .subnav svg{
    
    height: 17px;
    width: 17px;
}
