.accountcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.accountcontainer .accounts header{
    font-size: 24px;
    font-weight: 550;
    border-bottom: 3px solid lightgray;
    margin: auto;

}
.accountcontainer .accounts{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    background-color: white;
    padding: 10px;
    margin-top: 1%;
    width: 35%;
    border-radius: 5px;
    height: 470px;
}
.accountcontainer .accounts button{
    height: 55px;
}
.accountcontainer .accountdet{
    padding: 10px;
 
    width:78%;
    display: flex;
    margin: auto;
    height: 85vh;
    flex-direction: column;
}
.accountcontainer .accountdet .accountnav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    margin-top: 20px;
    border-top: 1px solid black;
    padding: 8px;

    
}
.accountcontainer .accountdet .accountnav span{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    height: 35px;
    background-color: whitesmoke;
}
.accountcontainer .accountdet .accountnav span:hover{
    border: 1px solid darkblue;
    border-radius: 3px;
}
.accountcontainer .accounts .input_group{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    
}
.accountcontainer .accounts .input_group label{
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid lightgray;
}
.accountcontainer .accounts .input_group input{
    font-weight: 400;
    font-size: 14px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
.accountcontainer .accountdet button{
    background-color: springgreen;
    border-radius: 5px;
}