*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
.appContainer{
  background-color: rgb(250 250 250);
  min-height: 100vh;
  width: 100vw;
  color:black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}