.activebookingscontainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 20px;
}
.activebookingscontainer header{
    font-size: 23px;
    font-weight: 700;
}
.activebookingscontainer section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
}
.activebookingscontainer section .container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 5px;
    border:  1px solid lightgray;
    align-items: center;
    width: 99%;
}

.activebookingscontainer .controls{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    padding: 5px;
   
    width: calc(97%);
    align-self: center;
    justify-self: center;
}
.activebookingscontainer .controls svg{
    width: 30px;
    height: 30px;
}
.activebookingscontainer .controls input{
    display: flex;
    align-self: center;
    height: 35px;
    justify-self: center;
    
}
.activebookingscontainer .controls span{
    width: 50px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.activebookingscontainer table{
    background-color: white;
}
.activebookingscontainer table thead, .activebookingscontainer table tbody tr{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    align-items: center;
    
}
.activebookingscontainer table thead th{
    height: 50px;
    border-bottom: 1px solid black;
    padding: 5px;
}
.activebookingscontainer table tbody tr{
    height: 70px;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    
}
.activebookingscontainer table tbody tr td{
    height: 100%;
    overflow: hidden;
}
.activebookingscontainer table thead th, .activebookingscontainer table tbody tr td{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.activebookingscontainer table tbody tr td button{
    background-color: springgreen;
    
    width: 130px;

}
@media screen and (max-width:700px){
  .activebookingscontainer{
    width: 100%;
  }
  .activebookingscontainer table{
    width: 100%;
    
  }
  .activebookingscontainer table thead{
    display: none;
  }
  .activebookingscontainer table tbody tr{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    height: unset;
  }
  .activebookingscontainer table tbody tr td{
    font-weight: 400;
  }
  .activebookingscontainer table tbody tr td:first-child{
    font-weight: 710;
  }
}